html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, cursive;
  font-weight: 700;
}

.accent-logo {
  color: #2196f3;
}

.items-nav {
  padding: 0;
  list-style: none;
}

.items-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items-nav .link.current {
  color: #2196f3;
  position: relative;
}

.link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  left: 0;
  bottom: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items-nav .link:hover,
.items-nav .link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-display {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact-display .contacts:hover,
.contact-display .contacts:focus {
  color: #2196f3;
}

.contact-display .contacts {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #757575;
}

.svg-item-envelope, .svg-item-telephone {
  width: 15px;
  height: 15px;
  fill: #757575;
  margin-right: 10px;
}

.contacts:hover .svg-item-envelope,
.contacts:hover .svg-item-telephone {
  fill: #2196f3;
}

.contacts, .svg-item-envelope, .svg-item-telephone {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container-site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ececec;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .items-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .item-nav:not(:last-child) {
    margin-right: 50px;
  }
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .contacts-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .contact-display:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
  .items-nav {
    margin: 0 0 0 85px;
  }
  .menu-container {
    margin-left: 0;
  }
  .contacts-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-display {
    margin-bottom: 0px;
  }
  .contact-display:not(:last-child) {
    margin-right: 30px;
  }
  .contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .container-site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.17;
  }
  .site-nav {
    margin-bottom: 60px;
  }
  .item-nav:not(:last-child) {
    margin-bottom: 40px;
  }
  .items-nav {
    margin: 0;
  }
  .items-nav .link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-display:not(:last-child) {
    margin-bottom: 16px;
  }
  .menu-container {
    padding: 60px 50px;
    text-align: center;
    font-size: 18px;
    line-height: 1.17;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: block;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
  cursor: pointer;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.section.hero {
  text-align: center;
  min-height: 600px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.container.hero {
  width: 696px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  /* min-width: 200px; */
  color: #212121;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 48, 46, 0.5);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.modal {
  position: relative;
  max-width: 528px;
  max-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 528px;
  }
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-modal-button:hover .close-icon {
  fill: #2196f3;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form-field {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 28px;
}

.label-title {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field.area {
  margin-bottom: 20px;
}

.label-title.comment {
  top: 20px;
  left: 16px;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  width: 100%;
}

.comment-area:focus + .label-title.comment,
.comment-area:not(:placeholder-shown) + .label-title.comment {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  color: var(--accent-color);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}

.form-input {
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  font-size: 14px;
}

.form-input:focus + .label-title,
.form-input:not(:placeholder-shown) + .label-title {
  -webkit-transform: translate(-30px, -40px);
          transform: translate(-30px, -40px);
  color: #2196f3;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.form-input:focus ~ .modal-svg {
  fill: #2196f3;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.checkbox-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 20px;
}

.checkbox-container .checkbox {
  -webkit-appearance: none;
  display: inline-block;
}

.checkbox-icon {
  content: "";
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 16px;
  height: 15px;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/icon-checkbox.svg);
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox-form a {
  color: #2196f3;
}

.modal-button {
  display: block;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 56px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section .text {
  color: #757575;
}

.benefits {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefit-item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .benefit-item:nth-child(2n) {
    margin-right: 0;
  }
  .benefit-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefit-item {
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
  .benefit-item:last-child {
    margin-right: 0;
  }
}

.benefit-image {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefit-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefit-title {
    text-align: left;
  }
}

.benefits .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.section-our-work {
  border-top: 1px solid #ececec;
}

.our-works {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .our-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.work-item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  height: 294px;
}

.work-item:last-child {
  margin-right: 0;
}

.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  /* border-radius: 0px 0px 4px 4px; */
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.work-item > img {
  display: block;
}

.section-our-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-our-work {
    display: block;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-flex {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .our-team-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-team-item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-team-item:nth-child(2n) {
    margin-right: 0px;
  }
  .our-team-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-item {
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .our-team-item:nth-child(4n) {
    margin-right: 0px;
  }
}

.photo-workers {
  display: block;
  overflow: hidden;
}

.our-team-content {
  padding: 30px 32px 25px 32px;
  text-align: center;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.names {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover .svg-item-social {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-li {
  margin-right: 10px;
}

.social-link-li:last-child {
  margin-right: 0;
}

.svg-item-social {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .our-client-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-client-item:nth-child(2n) {
    margin-right: 0;
  }
  .our-client-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-client-item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-client-item:nth-child(3n) {
    margin-right: 0;
  }
  .our-client-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-client-item {
    width: calc((100% - 5 * 30px) / 6);
    margin-right: 30px;
    margin-bottom: 0px;
    height: 90px;
  }
  .our-client-item:last-child {
    margin-right: 0;
  }
}

.our-client-link {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-link .svg-item-clients {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-link:hover .svg-item-clients,
.our-client-link:focus .svg-item-clients {
  fill: #2196f3;
}

.our-client-item:hover .our-client-link,
.our-client-item:focus .our-client-link {
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  text-align: center;
}

.container-top-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container-top-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .container-top-part .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-top-part .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container-top-part .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-address-div {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-address-div {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.footer-logo {
  display: block;
  font-size: 24px;
  line-height: 1.17;
  font-family: Raleway, cursive;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.main-logo {
  color: #ffffff;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-contacts {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email {
  margin-bottom: 10px;
}

.call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .call-to-action {
    text-align: left;
  }
}

.container-bottom-part {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.svg-footer {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe-input {
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.button-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .button-portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button.secondary {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button.secondary:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.button.secondary:last-child {
  margin-right: 0;
}

.button-secondary-li {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary-li:hover, .button-secondary-li:focus {
  background-color: #2196f3;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary-li:hover .button-text,
.button-secondary-li:focus .button-text {
  color: #ffffff;
}

.title-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.example {
  margin-bottom: 30px;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .example:nth-child(2n) {
    margin-right: 0px;
  }
  .example:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .example {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .example:nth-child(3n) {
    margin-right: 0;
  }
  .example:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.example .link:hover,
.example .link:focus {
  color: #2196f3;
}

.example .link {
  display: block;
  text-decoration: none;
}

.portfolio-img {
  display: block;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.block-of-text {
  position: relative;
  overflow: hidden;
}

.text-on-photo {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px 63px 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.example:hover .text-on-photo {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover {
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */