/* 
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
} */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* Страница Web Studio  */
/* site-nav */

/* .site-nav {
  display: flex;
  align-items: center;
} */

/* .container-site-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
} */

/* .logo {
  display: block;
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
} */


/* .accent-logo {
  color: var(--accent-color);
} */

/* .items-nav {
  display: flex;
  padding: 0;
  margin: 0 0 0 85px;
  list-style: none;
  }
.item-nav {
  margin-right: 50px;
}
.item-nav:last-child {
  margin-right: 0;
}
.items-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .items-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

для тренировки
/* .link.current:hover::after {
  opacity: 1;
} */

/* .items-nav .link:hover,
.items-nav .link:focus {
  color: var(--accent-color);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-display {
  display: flex;
  margin-left: auto;
}

.contact-display .contacts:hover,
.contact-display .contacts:focus {
  color: var(--accent-color);
}
.contact-display .contacts {
  text-decoration: none;
  display: inline-flex;
  color: var(--primary-text-color)
  
} */

.contact-display {
  /* width: calc((100% - 50px) / 2); */

  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}
/* .contact-display:last-child {
  margin-right: 0;
}
.svg-item-envelope {
  width: 15px;
  height: 15px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.svg-item-telephone {
  width: 15px;
  height: 15px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.contacts:hover .svg-item-envelope,
.contacts:hover .svg-item-telephone {
  fill: var(--accent-color)
}
.contacts {
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-item-envelope, .svg-item-telephone {
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* Hero */

/* .section.hero {
  text-align: center;
  min-height: 600px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}
.container.hero {
  width: 696px;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .text {
  color: var(--primary-text-color);
} */

/* Benefits */

/* .benefits {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}
.benefit-item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}
.benefit-item:last-child {
  margin-right: 0;
}
.benefit-image {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefit-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
} */
/* Works */

/* .section-our-work {
  border-top: 1px solid #ececec;
}
.our-works {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.work-item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  height: 294px;
  
}
.work-item:last-child {
  margin-right: 0;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  text-transform: uppercase;
}
.work-item > img {
  display: block;
} */

/* Our team */

/* .our-team {
  background-color: var(--secondary-background-color);
}
.our-team-flex {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.our-team-item {
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  
}
.our-team-item:last-child {
  margin-right: 0;
}
.our-team-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.photo-workers {
  display: block;
  overflow: hidden;
} */
/* .our-team-content {
  padding: 30px 32px 25px 32px;
  text-align: center;
  background-color: var(--background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.names {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
} */
/* .our-team .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
} */

/* Social-links */

/* .social {
  display: flex;
    }

.social-links {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-li {
  margin-right: 10px;
}
.social-link-li:last-child {
  margin-right: 0;
}

.social-links:hover {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
.social-links:hover .svg-item-social {
    fill: var(--background-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  /* .svg-item-social {
     
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

/* our-usual-clients */

/* .our-clients {
  display: flex;
 }

.our-client-item {
  width: calc((100% - 5 * 30px) / 6);
  height: 90px;
  margin-right: 30px;
}
.our-client-item:last-child {
  margin-right: 0;
}

.our-client-link{
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-item-clients {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.our-client-link:hover .svg-item-clients,
.our-client-link:focus .svg-item-clients {
  fill: var(--accent-color)
  }

.our-client-item:hover .our-client-link,
.our-client-item:focus .our-client-link {
 border: 1px solid var(--accent-color)
  } */
  
/* Buttons */

/* .button {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
   border: 1px solid transparent;
  
  color: var(--title-text-color);
  background-color: var(--background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  } */

/* .button.primary {
 
  padding: 10px 32px;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* Footer */

/* .footer {
  background-color: #2f303a;
}
.container-top-part {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-block {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 10px;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.main-logo {
  color: var(--background-color);
} */
/* .footer-form {
  display: flex;
  flex-direction: column;
}
.footer-address {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
}
.footer-contacts {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email {
  margin-bottom: 10px;
} */


/* .call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  text-transform: uppercase;
}
.container-bottom-part {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-copyright {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.svg-footer {
  margin-left: 10px;
}
.social-links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .form-subscribe {
    display: flex;
  }
  .subscribe-input {
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  } */


/* Страница Портфолио */

/* .button-portfolio {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
} */

/* .button.secondary {
  margin-right: 8px;
     
}
.button.secondary:last-child {
  margin-right: 0;
}
.button-secondary-li {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary-li:hover,
.button-secondary-li:focus {
  background-color: var(--accent-color);  
} */

/* .button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary-li:hover .button-text,
.button-secondary-li:focus .button-text {
  color: var(--background-color);
  } */

/* .title-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
} */
/* .portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.example {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 2 * 30px) / 3);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example:nth-child(3n) {
 margin-right: 0;
}
.example:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/* .example .link:hover,
.example .link:focus {
  color: var(--accent-color);
}
.example .link {
  display: block;
  text-decoration: none;
}

.portfolio-img {
  display: block;
  
} */
/* .card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.block-of-text {
  position: relative;
  overflow: hidden;
} */

 /* .text-on-photo {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(50%);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px 63px 24px;
  color: var(--background-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
 } */

/* .example:hover .text-on-photo {
  opacity: 1;
  transform: translateY(0);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
} */

/* Backdrop and modal */

/* .backdrop {
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 48, 46, 0.5);	
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
	padding: 30px;
}
.backdrop.is-hidden {
	pointer-events: none;	
  opacity: 0;
  transform: scale(2);
} */



/* .modal {
  position: relative;
  max-width: 528px;
  max-height: 581px;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  
  }
.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--background-color);
  width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.close-modal-button:hover .close-icon {
	fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

} */

/* .form-field {
  position: relative;
  margin-bottom: 28px;
 }

.label-title {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.area {
  margin-bottom: 20px;
 } */

/* .label-title.comment {
top: 20px;
left: 16px;
transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  width: 100%;
  }

.comment-area:focus + .label-title.comment,
.comment-area:not(:placeholder-shown) + .label-title.comment {
  transform: translateY(-40px);
  color: var(--accent-color);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
} */

/* .form-input {
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  font-size: 14px;
}
.form-input:focus + .label-title,
.form-input:not(:placeholder-shown) + .label-title {
  transform: translate(-30px, -40px);
  color: var(--accent-color);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  display: inline-block;
  } */

  /* .form-input:focus ~ .modal-svg {
	fill: #2196f3;
}
.checkbox-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.checkbox-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 20px;

} */
/* .checkbox-container .checkbox {
	-webkit-appearance: none;
	display: inline-block;
}
.checkbox-icon {
	content: "";
	position: absolute;
	width: 16px;
	height: 15px;

	top: 50%;
	left: 2px;
	transform: translateY(-50%);

	border: 2px solid #212121;
	border-radius: 2px;
} */
/* .checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/icon-checkbox.svg);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);

}
.checkbox-form a {
  color: var(--accent-color);
} */

/* .modal-button {
display: block;
color: var(--background-color);
background-color: var(--accent-color);
padding: 10px 56px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
min-width: 200px;
min-height: 50px;
} */




 
  



 



 