.footer {
  background-color: #2f303a;
  text-align: center;
}
.container-top-part {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  }

  .footer-items {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		justify-content: space-around;
	}

	@media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
	}
 }
}

.footer-address-div {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
		margin-right: 70px;
		margin-bottom: 0px;
	}
}
.footer-block {
  // display: flex;
  // flex-direction: column;
  margin-bottom: 60px;
}
.footer-logo {
  display: block;
  font-size: 24px;
  line-height: 1.17;
  font-family: Raleway, cursive;
  font-weight: 700;
  margin-bottom: 20px;
  
  text-decoration: none;
  	@media screen and (min-width: 1200px) {
  font-size: 26px;
  line-height: 1.19;
  }
}
.main-logo {
  color: $background-color;
}
// .footer-form {
//   // max-width: 570px;
//   // display: flex;
//   // flex-direction: column;
// }
.footer-address {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $background-color;
}
.footer-contacts {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-email {
  margin-bottom: 10px;
}


.call-to-action {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $background-color;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
  text-align: left;
}
}
.container-bottom-part {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-copyright {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.svg-footer {
  margin-left: 10px;
}


  .form-subscribe {
    @media screen and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
	}
  }
  .subscribe-input {
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
		width: 358px;
		margin-bottom: 0px;
		margin-right: 12px;
	}
  }
