.modal {
  position: relative;
  max-width: 528px;
  max-height: 581px;
  background-color: $background-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

   @media screen and (max-width: 479px) {
      min-width: 450px;
  }
    
      @media screen and (min-width: 480px) {
      max-width: 528px;
    }
  
  }
.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: $background-color;
  width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;

&:hover .close-icon {
	fill: $accent-color;
}
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

}

.form-field {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 28px;
 }

.label-title {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.area {
  margin-bottom: 20px;
 }

.label-title.comment {
top: 20px;
left: 16px;
transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  width: 100%;
  }

.comment-area:focus + .label-title.comment,
.comment-area:not(:placeholder-shown) + .label-title.comment {
  transform: translateY(-40px);
  color: var(--accent-color);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}
.form-input {
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  font-size: 14px;
}
.form-input:focus + .label-title,
.form-input:not(:placeholder-shown) + .label-title {
  transform: translate(-30px, -40px);
  color: $accent-color;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  display: inline-block;
  }
  .form-input:focus ~ .modal-svg {
	fill: #2196f3;
}
.checkbox-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.checkbox-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 20px;

}
.checkbox-container .checkbox {
	-webkit-appearance: none;
	display: inline-block;
}
.checkbox-icon {
	content: "";
	position: absolute;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	width: 16px;
	height: 15px;

	top: 50%;
	left: 2px;
	transform: translateY(-50%);

	border: 2px solid #212121;
	border-radius: 2px;
}
.checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/icon-checkbox.svg);
  background-color: $accent-color;
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;

}
.checkbox-form a {
  color: $accent-color;
}

.modal-button {
display: block;
color: $background-color;
background-color: $accent-color;
padding: 10px 56px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
min-width: 200px;
min-height: 50px;
}