.button-portfolio {
  display: flex;
  flex-wrap: wrap;
	margin-bottom: 50px;
  @media screen and (min-width:768px) {
		justify-content: center;
		
	}
}

.button.secondary {
  margin-right: 8px;
   @media screen and (max-width:767px) {
     
    &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
  &:last-child {
  margin-right: 0;
}
}

.button-secondary-li {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: $secondary-background-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
  background-color: $accent-color;  
}
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

.button-secondary-li:hover &,
.button-secondary-li:focus & {
  color: $background-color;
  }
  }

.title-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.example {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 2 * 30px) / 3);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

&:nth-child(3n) {
 margin-right: 0;
}
&:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
& .link:hover,
& .link:focus {
  color: $accent-color;
}
& .link {
  display: block;
  text-decoration: none;
}
}

.portfolio-img {
  display: block;
  
}
.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.block-of-text {
  position: relative;
  overflow: hidden;
}

 .text-on-photo {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(50%);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px 63px 24px;
  color: $background-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
 }


.example:hover .text-on-photo {
  opacity: 1;
  transform: translateY(0);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}