.social {
  display: flex;
  justify-content: center;
    }

.social-links {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
  background-color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
&:hover .svg-item-social {
    fill: $background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }

.social-link-li {
  margin-right: 10px;
}
.social-link-li:last-child {
  margin-right: 0;
}
  .svg-item-social {
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }



  .social-links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
  background-color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
  
